#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=MPD Client
GenericName=MPDCLient
Comment=Manage MPD.
Icon=org.gnome.Rhythmbox
Exec=myterminal -e 'mpdclient'
Path=~
Terminal=false
Actions=
Categories=Audio;Player;GTK;X-XFCE;GNOME;
Keywords=mpd;music;player;my;
StartupNotify=true
