#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Browser
GenericName=Browser
Comment=Browse the web.
Icon=web-browser
TryExec=mybrowser
Exec=myterminal -e 'mybrowser'
Path=~
Terminal=true
Actions=
Categories=Network;WebBrowser;GTK;X-XFCE;GNOME;
Keywords=web;browser;my;
StartupNotify=true
