#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=calc
Icon[en_US]=calc
Name[en_US]=My calc
Exec=calc --term
Name=My calc
Categories=Utility;Calculator;
GenericName=Calculator
