#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Calc
GenericName=Calculator
Comment=Calculator.
Icon=calc
TryExec=calc --term
Exec=bash -c "calc --term"
Path=
Terminal=true
Actions=
Categories=Utility;Calculator;GTK;X-XFCE;GNOME;
Keywords=calc;my;
StartupNotify=true
