#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=E-Mail
Comment=My Email
Exec=myemail
Icon=thunderbird
Path=
Terminal=true
StartupNotify=false
Categories=Application;Network;Email;
GenericName=Mail Client
