#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Name=Editor
Comment=My Editor
Exec=myeditor
Icon=accessories-text-editor
Path=~
Terminal=true
StartupNotify=false
Categories=Utility;TextEditor;Development;IDE;
GenericName=Text Editor
