#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Email
GenericName=E-Mail
Comment=Manage E-mail.
Icon=thunderbird
Exec=myterminal -e 'myemail'
Path=~
Terminal=false
Actions=
Categories=Application;Network;Email;GTK;X-XFCE;GNOME;
Keywords=mail;e-mail;my;
StartupNotify=true
