#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Email
GenericName=E-Mail
Comment=Manage E-mail.
Icon=thunderbird
Exec=myemail
Path=~
Terminal=true
Actions=
Categories=Application;Network;Email;X-XFCE;GNOME;
Keywords=mail;e-mail;my;
StartupNotify=true
