#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Editor
GenericName=TextEditor
Comment=Edit Files.
Icon=accessories-text-editor
TryExec=myeditor
Exec=myterminal -e 'myeditor'
Path=~
Terminal=true
Actions=
Categories=GTK;Development;IDE;GTK;X-XFCE;GNOME;
Keywords=editor;files;my;
StartupNotify=true
