#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Images
GenericName=Images
Comment=Manage Photos.
Icon=image-viewer
TryExec=images
Exec=bash -c "images"
Path=~
Terminal=true
Actions=
Categories=Graphics;Viewer;Photography;GTK;X-XFCE;GNOME;
Keywords=images;photo;player;my;
StartupNotify=true
