#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Music
GenericName=Music
Comment=Play Music.
Icon=org.gnome.Rhythmbox
TryExec=music
Exec=myterminal -e 'music'
Path=~
Terminal=false
Actions=
Categories=Audio;Player;GTK;X-XFCE;GNOME;
Keywords=music;player;my;
StartupNotify=true
