#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Torrents
GenericName=BitTorrent Client
Comment=Manage Torrents.
Icon=transmission
Exec=mytorrents
Path=~
Terminal=true
Actions=
Categories=Network;FileTransfer;P2P;GTK;X-XFCE;GNOME;
Keywords=torrents;my;
StartupNotify=true
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
