#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My Videos
GenericName=Multimedia player
Comment=Watch videos.
Icon=vlc
Exec=myterminal -e 'videos'
Path=~
Terminal=false
Actions=
Categories=Video;Player;GTK;X-XFCE;GNOME;
Keywords=Videos;my;
StartupNotify=true
