#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon=video
Icon[en_US]=video
Name[en_US]=My videos
Exec=videos
Name=My videos
Categories=Video;Player;
GenericName=Multimedia player
StartupNotify=true
