#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=My VMManager
GenericName=VM Manager
Comment=Manager VMs.
Icon=virtualbox
Exec=myterminal -e 'myvmmanager'
Path=~
Terminal=true
Actions=
Categories=System;GTK;X-XFCE;GNOME;
Keywords=virtual;machine;my;
StartupNotify=true
