#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=Random Wallpaper
GenericName=Random Wallpaper
Comment=Change the wallpaper.
Icon=wallpaper
Exec=randomwallpaper --term
Path=~
Terminal=true
Actions=
Categories=System;GTK;Utility;TerminalEmulator;GTK;X-XFCE;GNOME;
Keywords=wallpaper;my;
StartupNotify=true

[Desktop Action Status]
Name=status
Exec=randomwallpaper --bg --status

[Desktop Action Stop]
Name=stop
Exec=randomwallpaper --bg --stop
