#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.1
Type=Application
Name=Random Wallpaper
GenericName=Random Wallpaper
Comment=Change the wallpaper.
Icon=wallpaper
Exec=randomwallpaper --term
Path=~
Terminal=false
Actions=Actions=Status;Stop;
Categories=System;GTK;Utility;TerminalEmulator;GTK;X-XFCE;GNOME;MyScripts;
Keywords=wallpaper;my;
StartupNotify=true

[Desktop Action Status]
Name=Status
Exec=randomwallpaper --bg --status

[Desktop Action Stop]
Name=Stop
Exec=randomwallpaper --bg --stop
